<mat-toolbar color="primary">
    <span><a routerLink="inicio"><img src="./assets/img/logo.png"></a></span>
    <span><a routerLink="inicio">Produtos</a></span>
    <span class="example-spacer"></span>
    <span><a routerLink="login"><button mat-raised-button color="primary" id="button">Login</button></a></span>
    <form class="d-flex" role="search">
        <input id="barraPesquisa" class="form-control me-2" type="search" placeholder="O que deseja buscar?" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
    </form>
</mat-toolbar>